:root {
    --primary-color: #32343C;
    --secondary-color: #90BEC5;
    --tertiary-color: #485773;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #EDEDF5;
}

/* Header Styles */
header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px 35px;
    background-color: var(--primary-color);
}

header h1{
    font-weight: bold;
    color: var(--primary-color);
    margin: 0;
    font-size: 55px;
    padding: 10px 20px 10px 80px;
    margin-left: -35px;
    background-color: var(--secondary-color);
    text-align: right;
}

header a {
    text-decoration: none;
    color: var(--secondary-color);

}

header nav {
    margin: 7px 0;
    margin-right: 30px;
}

header nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    align-items: center;
}

header nav ul li {
    border-bottom: 2px solid var(--secondary-color);
    margin: 10px;
}

header nav ul li a {
    padding: 10px 20px;
    font-weight: lighter;
    font-size: 1.55vw;
}

/* End of Header Styles */

/* Hero styles */
.hero-img {
    background: url(../images/hero-bg.jpg);
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-wrap: wrap;
}

.hero-my-img {
    margin: 40px 60px 40px 0;
}

.hero-my-img img {
    border-radius: 50%;
    border: 3px solid var(--secondary-color);
}

/* End of hero styles */

/* Main Section Styles */

.information {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;  
    margin: 20px auto;
}

.about-me {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 40px;
    
}


.about-me-header {
    flex: 1 12%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.about-me-header h3 {
    font-size: 45px;
    padding-right: 20px;
    color: var(--tertiary-color);
    text-align: right;
}

.about-me-text p {
    color: var(--tertiary-color);
}

.about-me-text {
    flex: 2 70%;
    padding: 10px 40px;
}

.my-work {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.my-work-header {
    flex: 1 12%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.work-links {
    flex: 2 70%;
}

.border-right {
    border-right: 3px solid var(--tertiary-color);
}

.run-buddy {
    position: relative;
    flex: 1 50%;
}

.run-buddy h4 {
    position: absolute;
    top: 70px;
    left: 50px;
    font-size: 1.55vw;
    padding: 10px;
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
}



/* .rum-buddy img:hover {
    width: 75%;
}  */


.work-links {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}


.run-buddy img {
    width: 50%;
    margin-left: 50px;
}

.bigger-img img {
    width: 60%;
}


.my-work-header h3 {
    font-size: 45px;
    padding-right: 20px;
    color: var(--tertiary-color);
    text-align: right;
    padding-top: 45px;
}

/* Footer styels */
footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

footer nav {
    display: flex;
    justify-content: center;
    flex: 2 70%;
}

footer nav ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    text-decoration: none;
}

footer nav ul li {
    color: var(--tertiary-color);
    font-size: 30px;
    padding: 0 50px;
    margin: 0 20px;
}

footer nav ul li a {
    text-decoration: none;
    color: var(--tertiary-color);
}

footer h3 {
    flex: 1 12%;
    font-size: 45px;
    padding-right: 20px;
    color: var(--tertiary-color);
    text-align: right;
    padding:45px 20px 45px 0;
}

.border-bottom {
    border-bottom: 2px solid var(--tertiary-color);
}

@media screen and (max-width: 980px){


}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 575px) {

}


