:root {
    --primary-color: #32343C;
    --secondary-color: #90BEC5;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #EDEDF5;
}

/* Header Styles */
header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px 35px;
    background-color: var(--primary-color);
}

header h1{
    font-weight: bold;
    color: var(--primary-color);
    margin: 0;
    font-size: 55px;
    padding: 10px 20px 10px 80px;
    margin-left: -35px;
    background-color: var(--secondary-color);
    text-align: right;
}

header a {
    text-decoration: none;
    color: var(--secondary-color);

}

header nav {
    margin: 7px 0;
    margin-right: 30px;
}

header nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    align-items: center;
}

header nav ul li {
    border-bottom: 2px solid var(--secondary-color);
    margin: 10px;
}

header nav ul li a {
    padding: 10px 20px;
    font-weight: lighter;
    font-size: 1.55vw;
}

